.flex-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .mat-card {
    max-width: 20rem;
    width: 100%;
    margin: 1rem;
    padding: 0;
    position: relative;

    .image-wrapper {
      overflow: hidden;
      position: relative;
    }

    img {
      margin-top: -16px;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      transition: transform 0.5s, opacity 1s, visibility 2s;
    }

    &:hover img {
      opacity: 0;
    }

    .top-img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      transform: scale(0.5);
    }

    &:hover .top-img {
      opacity: 0.5;
      visibility: visible;
      transform: scale(1);
    }

    .card-title {
      font-size: 1.3rem;
      word-break: break-word;
      white-space: break-spaces;
    }

    &:hover .card-title {
      color: rgb(0, 0, 119);
    }
  }
}

.mat-button {
  padding: 0;
}

.mat-card-img {
  margin-bottom: 0.5rem;
}
