<div id="store" class="flex-cards">
  <mat-card *ngFor="let product of products; index as i">
    <button mat-button [routerLink]="['/product', product.path]">
      <div class="image-wrapper">
        <img mat-card-image [src]="product.image" alt="{{ product.name }}" />
        <img
          mat-card-image
          class="top-img"
          [src]="(product?.images || [])[1]?.path"
          alt="{{ product.name }}"
        />
      </div>
      <mat-card-actions>
        <div class="card-title">{{ product.name }}</div>
        <div>${{ product.price }}</div>
      </mat-card-actions>
    </button>
  </mat-card>
</div>
