<section id="contactus">
  <div class="mat-headline">Contact us</div>
  <div>
    <a mat-button href="mailto:help.monumentalapparel@gmail.com">
      <mat-icon aria-hidden="false" inline="true" aria-label="emal">
        email
      </mat-icon>
      help.monumentalapparel@gmail.com
    </a>
  </div>
  <div class="mat-h3">Connect with us</div>
  <div>
    <a mat-button href="https://facebook.com/monumentalapp">
      <div aria-hidden="false" inline="true" aria-label="facebook"></div>
      monumentalapp
    </a>
    <a mat-button href="https://instagram.com/monumental.apparel">
      <div aria-hidden="false" inline="true" aria-label="instagram"></div>
      @monumental.apparel
    </a>
    <a
      mat-button
      href="https://twitter.com/intent/tweet/?url=https%3A%2F%2Fmonumentalapparel.company.site%2F&text=SHOP+OPEN+NOW:"
    >
      <div aria-hidden="false" inline="true" aria-label="twitter"></div>
      monumentalapparel
    </a>
    <a
      mat-button
      href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fmonumentalapparel.company.site%2F&description=SHOP+OPEN+NOW&media=https%3A%2F%2Fd2j6dbq0eux0bg.cloudfront.net%2Fstartersite%2Fimages%2F40749019%2F1606614272210.jpg"
    >
      <div aria-hidden="false" inline="true" aria-label="pinterest"></div>
      monumentalapparel
    </a>
  </div>
</section>
