<div class="mat-title">About Us</div>
<div class="flex">
  <p>
    Our company was founded in a college dorm in Provo, Utah. Nathan had been
    doing graphic design and illustration for a couple of years, and decided it
    was time to start selling his art. Gabe joined with Nathan to help get the
    company going. Nathan is in charge of marketing and design and Gabe is in
    charge of finance and logistics. We wanted to do more than just sell
    clothes, though. We wanted to create a movement dedicated to everything we
    thought was worth loving about the world. The only word we could think of
    was 'Monumental'. This word grew into a passionate, environmentally
    conscious brand, dedicated to all that is monumental.
  </p>
  <div class="center border-bottom">
    <img
      src="https://d1howb1wwyap5o.cloudfront.net/startersite/default/owner.png"
    />
    <div>Nathan & Gabe</div>
    <div>Co-Founders</div>
  </div>
</div>
