<div>
  <div class="mat-display-1">{{ product.name }}</div>

  <div class="breadcrumb">
    <button mat-flat-button [routerLink]="'/'">Back to catalog</button>
  </div>

  <div class="mat-display-2">${{ product.price }}</div>

  <label id="size-radio-group-label">Size</label>
  <mat-radio-group
    aria-labelledby="size-radio-group-label"
    class="size-radio-group"
    [(ngModel)]="selectedSize"
    color="primary"
    (change)="sizeChange($event)"
  >
    <mat-radio-button
      class="size-radio-button"
      *ngFor="let size of sizes"
      [value]="size"
    >
      {{ size }}
    </mat-radio-button>
  </mat-radio-group>

  <label id="color-radio-group-label">Color</label>
  <mat-radio-group
    aria-labelledby="color-radio-group-label"
    class="color-radio-group"
    [(ngModel)]="selectedColor"
    color="primary"
    (change)="colorChange($event)"
  >
    <mat-radio-button
      class="color-radio-button"
      *ngFor="let color of colors"
      [value]="color"
    >
      {{ color }}
    </mat-radio-button>
  </mat-radio-group>

  <div *ngIf="outOfStock" class="mat-body-strong">Out Of Stock</div>

  <div class="button-group">
    <button
      *ngIf="!clickedAdd && !outOfStock"
      mat-raised-button
      color="dark"
      (click)="addToBag()"
      [class.check]="checked"
      [disabled]="checked"
    >
      <span>Add to cart</span>
    </button>
    <div *ngIf="clickedAdd">
      <button
        *ngIf="!outOfStock"
        mat-raised-button
        color="light"
        (click)="addToBag()"
        [class.check]="checked"
        [disabled]="checked"
      >
        <span>Add more</span>
      </button>
      <button mat-raised-button color="dark" [routerLink]="'/account/bag'">
        Go to checkout
      </button>
    </div>
  </div>

  <div class="mat-body-2">Product Details</div>
  <p>{{ product.description }}</p>

  <p>
    Shipping Costs: Only $7.50 per order (1-3 day USPS). DISCOUNT $5.00 off
    shipping when you order 2 or more shirts!
  </p>

  <div>Share this product with your friends</div>
</div>
