[class*="radio-group"] {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
}

[class*="radio-button"] {
  margin: 0.4rem 0;
}

.mat-display-1 {
  margin-bottom: 0;
}

.mat-display-2 {
  margin-bottom: 1rem;
}

.breadcrumb {
  .mat-flat-button {
    padding: 0;
    min-width: 0;
    color: #aaaaaa;

    &:hover {
      color: blue;
    }
  }
  span {
    color: #aaaaaa;
    margin: 0.5rem;
  }
}

.mat-raised-button {
  display: block;
  width: 100%;
  margin: 1rem auto;

  &.mat-dark {
    color: white;
    background-color: #333333;
  }
}

@keyframes scale-up-ver-bottom {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}

.check:before {
  content: "\2713 ";
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  font-size: 2.75rem;
  animation: scale-up-ver-bottom 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.check:disabled {
  color: #333333;
}

.mat-dark.check:disabled {
  color: white;
}

.check span {
  opacity: 0;
}
