[class*="radio-group"] {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
}

[class*="radio-button"] {
  margin: 0.4rem 0;
}

.mat-display-1 {
  margin-bottom: 0;
}

.mat-display-2 {
  margin-bottom: 1rem;
}

.breadcrumb {
  .mat-flat-button {
    padding: 0;
    min-width: 0;
    color: #aaaaaa;

    &:hover {
      color: blue;
    }
  }
  span {
    color: #aaaaaa;
    margin: 0.5rem;
  }
}

.mat-raised-button {
  display: block;
  width: 100%;
  margin: 1rem auto;
}
