[class*="radio-group"] {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
}

[class*="radio-button"] {
  margin: 0.4rem 0;
}

section {
  height: 100%;
  padding: 32px 16px;
  max-width: 70rem;
  margin: 0 auto;

  .mat-button {
    display: block;
    margin: 0 auto;

    img {
      width: 5rem;
    }
  }
}

.mat-display-1 {
  margin-bottom: 0;
}

.breadcrumb {
  .mat-flat-button {
    padding: 0;
    min-width: 0;
    color: #aaaaaa;

    &:hover {
      color: blue;
    }
  }
  span {
    color: #aaaaaa;
    margin: 0.5rem;
  }
}
