section {
  height: 100%;
  padding: 32px 16px;
  max-width: 70rem;
  margin: 0 auto;

  .mat-button {
    display: block;
    margin: 0 auto;

    img {
      width: 5rem;
    }
  }
}

form {
  text-align: center;
  margin-top: 2rem;
}

.mat-form-field {
  width: 100%;
  max-width: 20rem;
}

.mat-raised-button {
  width: 100%;
  display: block;
  max-width: 20rem;
  margin: 0 auto;
}
