<section>
  <mat-form-field appearance="standard">
    <mat-label>SORT BY</mat-label>
    <select matNativeControl>
      <option value="we_recommend" selected>We recommend</option>
      <option value="newest_arrivals">Newest arrivals</option>
      <option value="price_low_to_high">Price: Low to High</option>
      <option value="price_high_to_low">Price: High to Low</option>
      <option value="name_a_to_z">Name: A to Z</option>
      <option value="name_z_to_a">Name: Z to A</option>
    </select>
  </mat-form-field>
</section>
