<div class="parallax-container">
  <div class="desktop-picture"></div>
  <div class="overlay"></div>
  <div class="cover-content">
    <app-menu></app-menu>
    <div class="title-wrapper">
      <h1 class="title">SHOP OPEN NOW</h1>
      <p>
        Our products are in stock! Scroll down and check out our brand new long
        sleeve shirts!
      </p>
    </div>
    <button mat-button color="dark">Shop Now</button>
  </div>
  <div class="footer">
    <button mat-button color="white">
      Products
      <div>
        <mat-icon
          aria-hidden="false"
          inline="true"
          aria-label="Example home icon"
        >
          keyboard_arrow_down
        </mat-icon>
      </div>
    </button>
  </div>
</div>
