.parallax-container {
  position: relative;
}

.desktop-picture {
  /* The image used */
  background: url(https://d2j6dbq0eux0bg.cloudfront.net/startersite/images/40749019/1606614272210.jpg);

  /* Full height */
  height: 100%;

  /* Full width */
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}

.cover-content {
  min-height: calc(var(--vh, 1vh) * 88);
  padding: 0 2.5rem 0 2.5rem;
}

.mat-button.mat-dark {
  background: #333333;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 0.3rem 1.6rem;
}

.overlay {
  position: absolute;
  z-index: -20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    45deg,
    rgba(0, 73, 97, 0.5),
    rgba(171, 44, 82, 0.5)
  );
}
