section {
  height: 100%;
  background: #ffffff;
  padding: 32px 16px;
  max-width: 45rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.borderTop {
  border-top: 2px solid #aeaeae;
}

.mat-display-1 {
  font-size: 2rem;
  line-height: normal;
  font-weight: 100;
  margin: 0;

  .mat-icon {
    color: #333333;
    width: 1rem;
    top: -0.5rem;
    position: relative;

    &:nth-child(2) {
      left: -1rem;
    }
  }
}

.mat-caption {
  font-size: 1.5rem;
  font-weight: 100;
  text-align: right;
}
