/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-product-gallery .mat-tab-label {
  height: auto;
}

app-product-gallery .mat-tab-body-content {
  display: flex;
  justify-content: center;
}
